# MySQL Tutorial

In [1]:
# pip install mysql-connector-python

Collecting mysql-connector-python
  Obtaining dependency information for mysql-connector-python from https://files.pythonhosted.org/packages/d3/b8/6798a0f91e595c0704a94c1e32a00ca930f77cb8f0f96c7e4dad4f9db1fe/mysql_connector_python-8.1.0-cp311-cp311-win_amd64.whl.metadata
  Downloading mysql_connector_python-8.1.0-cp311-cp311-win_amd64.whl.metadata (2.1 kB)
Collecting protobuf<=4.21.12,>=4.21.1 (from mysql-connector-python)
  Downloading protobuf-4.21.12-cp310-abi3-win_amd64.whl (527 kB)
     ---------------------------------------- 0.0/527.0 kB ? eta -:--:--
      --------------------------------------- 10.2/527.0 kB ? eta -:--:--
      --------------------------------------- 10.2/527.0 kB ? eta -:--:--
     -- ---------------------------------- 30.7/527.0 kB 435.7 kB/s eta 0:00:02
     ------ ------------------------------ 92.2/527.0 kB 655.4 kB/s eta 0:00:01
     ------- ---------------------------- 112.6/527.0 kB 656.4 kB/s eta 0:00:01
     ---------- ------------------------- 153.6/527.0 kB 706.2 kB/s eta 0:00:01
     ------------- ---------------------- 194.6/527.0 kB 787.7 kB/s eta 0:00:01
     ------------- ---------------------- 204.8/527.0 kB 655.1 kB/s eta 0:00:01
     ---------------- ------------------- 235.5/527.0 kB 654.9 kB/s eta 0:00:01
     ------------------ ----------------- 276.5/527.0 kB 710.0 kB/s eta 0:00:01
     -------------------- --------------- 307.2/527.0 kB 731.4 kB/s eta 0:00:01
     ------------------------- ---------- 368.6/527.0 kB 764.2 kB/s eta 0:00:01
     ------------------------------ ----- 440.3/527.0 kB 835.1 kB/s eta 0:00:01
     -------------------------------- --- 481.3/527.0 kB 861.1 kB/s eta 0:00:01
     -----------------------------------  522.2/527.0 kB 840.7 kB/s eta 0:00:01
     ------------------------------------ 527.0/527.0 kB 848.5 kB/s eta 0:00:00
Downloading mysql_connector_python-8.1.0-cp311-cp311-win_amd64.whl (10.8 MB)
   ---------------------------------------- 0.0/10.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/10.8 MB 991.0 kB/s eta 0:00:11
   ---------------------------------------- 0.1/10.8 MB 1.1 MB/s eta 0:00:11
   ---------------------------------------- 0.1/10.8 MB 1.2 MB/s eta 0:00:09
    --------------------------------------- 0.2/10.8 MB 1.2 MB/s eta 0:00:10
    --------------------------------------- 0.2/10.8 MB 1.1 MB/s eta 0:00:11
   - -------------------------------------- 0.3/10.8 MB 1.2 MB/s eta 0:00:09
   - -------------------------------------- 0.3/10.8 MB 1.2 MB/s eta 0:00:10
   - -------------------------------------- 0.4/10.8 MB 1.2 MB/s eta 0:00:09
   - -------------------------------------- 0.5/10.8 MB 1.2 MB/s eta 0:00:09
   - -------------------------------------- 0.5/10.8 MB 1.3 MB/s eta 0:00:09
   -- ------------------------------------- 0.6/10.8 MB 1.3 MB/s eta 0:00:09
   -- ------------------------------------- 0.7/10.8 MB 1.3 MB/s eta 0:00:08
   -- ------------------------------------- 0.7/10.8 MB 1.3 MB/s eta 0:00:08
   -- ------------------------------------- 0.8/10.8 MB 1.3 MB/s eta 0:00:08
   --- ------------------------------------ 0.8/10.8 MB 1.3 MB/s eta 0:00:08
   --- ------------------------------------ 0.9/10.8 MB 1.3 MB/s eta 0:00:08
   --- ------------------------------------ 0.9/10.8 MB 1.3 MB/s eta 0:00:08
   --- ------------------------------------ 1.0/10.8 MB 1.3 MB/s eta 0:00:08
   --- ------------------------------------ 1.1/10.8 MB 1.3 MB/s eta 0:00:08
   ---- ----------------------------------- 1.1/10.8 MB 1.3 MB/s eta 0:00:08
   ---- ----------------------------------- 1.2/10.8 MB 1.3 MB/s eta 0:00:08
   ---- ----------------------------------- 1.2/10.8 MB 1.3 MB/s eta 0:00:08
   ---- ----------------------------------- 1.3/10.8 MB 1.3 MB/s eta 0:00:08
   ---- ----------------------------------- 1.3/10.8 MB 1.3 MB/s eta 0:00:08
   ----- ---------------------------------- 1.4/10.8 MB 1.3 MB/s eta 0:00:08
   ----- ---------------------------------- 1.4/10.8 MB 1.3 MB/s eta 0:00:08
   ----- ---------------------------------- 1.5/10.8 MB 1.3 MB/s eta 0:00:08
   ----- ---------------------------------- 1.6/10.8 MB 1.3 MB/s eta 0:00:08
   ------ --------------------------------- 1.6/10.8 MB 1.3 MB/s eta 0:00:08
   ------ --------------------------------- 1.7/10.8 MB 1.3 MB/s eta 0:00:07
   ------ --------------------------------- 1.7/10.8 MB 1.3 MB/s eta 0:00:08
   ------ --------------------------------- 1.7/10.8 MB 1.3 MB/s eta 0:00:08
   ------ --------------------------------- 1.8/10.8 MB 1.3 MB/s eta 0:00:08
   ------ --------------------------------- 1.8/10.8 MB 1.2 MB/s eta 0:00:08
   ------ --------------------------------- 1.8/10.8 MB 1.2 MB/s eta 0:00:08
   ------ --------------------------------- 1.9/10.8 MB 1.2 MB/s eta 0:00:08
   ------- -------------------------------- 1.9/10.8 MB 1.2 MB/s eta 0:00:08
   ------- -------------------------------- 1.9/10.8 MB 1.2 MB/s eta 0:00:08
   ------- -------------------------------- 2.0/10.8 MB 1.2 MB/s eta 0:00:08
   ------- -------------------------------- 2.0/10.8 MB 1.2 MB/s eta 0:00:08
   ------- -------------------------------- 2.0/10.8 MB 1.2 MB/s eta 0:00:08
   ------- -------------------------------- 2.1/10.8 MB 1.2 MB/s eta 0:00:08
   ------- -------------------------------- 2.1/10.8 MB 1.2 MB/s eta 0:00:08
   ------- -------------------------------- 2.2/10.8 MB 1.1 MB/s eta 0:00:08
   -------- ------------------------------- 2.2/10.8 MB 1.2 MB/s eta 0:00:08
   -------- ------------------------------- 2.3/10.8 MB 1.1 MB/s eta 0:00:08
   -------- ------------------------------- 2.4/10.8 MB 1.2 MB/s eta 0:00:08
   -------- ------------------------------- 2.4/10.8 MB 1.2 MB/s eta 0:00:08
   --------- ------------------------------ 2.5/10.8 MB 1.2 MB/s eta 0:00:08
   --------- ------------------------------ 2.6/10.8 MB 1.2 MB/s eta 0:00:07
   --------- ------------------------------ 2.6/10.8 MB 1.2 MB/s eta 0:00:07
   --------- ------------------------------ 2.7/10.8 MB 1.2 MB/s eta 0:00:07
   ---------- ----------------------------- 2.8/10.8 MB 1.2 MB/s eta 0:00:07
   ---------- ----------------------------- 2.8/10.8 MB 1.2 MB/s eta 0:00:07
   ---------- ----------------------------- 2.9/10.8 MB 1.2 MB/s eta 0:00:07
   ----------- ---------------------------- 3.0/10.8 MB 1.2 MB/s eta 0:00:07
   ----------- ---------------------------- 3.1/10.8 MB 1.3 MB/s eta 0:00:07
   ----------- ---------------------------- 3.2/10.8 MB 1.3 MB/s eta 0:00:07
   ------------ --------------------------- 3.3/10.8 MB 1.3 MB/s eta 0:00:06
   ------------ --------------------------- 3.3/10.8 MB 1.3 MB/s eta 0:00:06
   ------------ --------------------------- 3.4/10.8 MB 1.3 MB/s eta 0:00:06
   ------------ --------------------------- 3.5/10.8 MB 1.3 MB/s eta 0:00:06
   ------------ --------------------------- 3.5/10.8 MB 1.3 MB/s eta 0:00:06
   ------------- -------------------------- 3.6/10.8 MB 1.3 MB/s eta 0:00:06
   ------------- -------------------------- 3.7/10.8 MB 1.3 MB/s eta 0:00:06
   ------------- -------------------------- 3.7/10.8 MB 1.3 MB/s eta 0:00:06
   -------------- ------------------------- 3.8/10.8 MB 1.3 MB/s eta 0:00:06
   -------------- ------------------------- 3.9/10.8 MB 1.3 MB/s eta 0:00:06
   -------------- ------------------------- 3.9/10.8 MB 1.3 MB/s eta 0:00:06
   -------------- ------------------------- 4.0/10.8 MB 1.3 MB/s eta 0:00:06
   --------------- ------------------------ 4.1/10.8 MB 1.4 MB/s eta 0:00:05
   --------------- ------------------------ 4.2/10.8 MB 1.4 MB/s eta 0:00:05
   --------------- ------------------------ 4.3/10.8 MB 1.4 MB/s eta 0:00:05
   ---------------- ----------------------- 4.3/10.8 MB 1.4 MB/s eta 0:00:05
   ---------------- ----------------------- 4.4/10.8 MB 1.4 MB/s eta 0:00:05
   ---------------- ----------------------- 4.5/10.8 MB 1.4 MB/s eta 0:00:05
   ---------------- ----------------------- 4.6/10.8 MB 1.4 MB/s eta 0:00:05
   ----------------- ---------------------- 4.6/10.8 MB 1.4 MB/s eta 0:00:05
   ----------------- ---------------------- 4.7/10.8 MB 1.4 MB/s eta 0:00:05
   ----------------- ---------------------- 4.7/10.8 MB 1.4 MB/s eta 0:00:05
   ----------------- ---------------------- 4.8/10.8 MB 1.4 MB/s eta 0:00:05
   ------------------ --------------------- 4.9/10.8 MB 1.4 MB/s eta 0:00:05
   ------------------ --------------------- 4.9/10.8 MB 1.4 MB/s eta 0:00:05
   ------------------ --------------------- 5.0/10.8 MB 1.4 MB/s eta 0:00:05
   ------------------ --------------------- 5.1/10.8 MB 1.4 MB/s eta 0:00:05
   ------------------- -------------------- 5.2/10.8 MB 1.4 MB/s eta 0:00:05
   ------------------- -------------------- 5.2/10.8 MB 1.4 MB/s eta 0:00:04
   ------------------- -------------------- 5.3/10.8 MB 1.4 MB/s eta 0:00:04
   ------------------- -------------------- 5.4/10.8 MB 1.4 MB/s eta 0:00:04
   -------------------- ------------------- 5.5/10.8 MB 1.4 MB/s eta 0:00:04
   -------------------- ------------------- 5.5/10.8 MB 1.4 MB/s eta 0:00:04
   -------------------- ------------------- 5.6/10.8 MB 1.4 MB/s eta 0:00:04
   -------------------- ------------------- 5.7/10.8 MB 1.4 MB/s eta 0:00:04
   --------------------- ------------------ 5.7/10.8 MB 1.4 MB/s eta 0:00:04
   --------------------- ------------------ 5.8/10.8 MB 1.4 MB/s eta 0:00:04
   --------------------- ------------------ 5.8/10.8 MB 1.4 MB/s eta 0:00:04
   --------------------- ------------------ 6.0/10.8 MB 1.4 MB/s eta 0:00:04
   ---------------------- ----------------- 6.0/10.8 MB 1.4 MB/s eta 0:00:04
   ---------------------- ----------------- 6.1/10.8 MB 1.4 MB/s eta 0:00:04
   ---------------------- ----------------- 6.1/10.8 MB 1.4 MB/s eta 0:00:04
   ---------------------- ----------------- 6.2/10.8 MB 1.4 MB/s eta 0:00:04
   ----------------------- ---------------- 6.3/10.8 MB 1.4 MB/s eta 0:00:04
   ----------------------- ---------------- 6.3/10.8 MB 1.4 MB/s eta 0:00:04
   ----------------------- ---------------- 6.4/10.8 MB 1.4 MB/s eta 0:00:04
   ----------------------- ---------------- 6.5/10.8 MB 1.4 MB/s eta 0:00:04
   ------------------------ --------------- 6.5/10.8 MB 1.4 MB/s eta 0:00:03
   ------------------------ --------------- 6.6/10.8 MB 1.4 MB/s eta 0:00:03
   ------------------------ --------------- 6.6/10.8 MB 1.4 MB/s eta 0:00:03
   ------------------------ --------------- 6.7/10.8 MB 1.4 MB/s eta 0:00:03
   ------------------------- -------------- 6.8/10.8 MB 1.4 MB/s eta 0:00:03
   ------------------------- -------------- 6.9/10.8 MB 1.4 MB/s eta 0:00:03
   ------------------------- -------------- 6.9/10.8 MB 1.4 MB/s eta 0:00:03
   ------------------------- -------------- 7.0/10.8 MB 1.4 MB/s eta 0:00:03
   ------------------------- -------------- 7.0/10.8 MB 1.4 MB/s eta 0:00:03
   -------------------------- ------------- 7.1/10.8 MB 1.4 MB/s eta 0:00:03
   -------------------------- ------------- 7.1/10.8 MB 1.4 MB/s eta 0:00:03
   -------------------------- ------------- 7.2/10.8 MB 1.4 MB/s eta 0:00:03
   -------------------------- ------------- 7.3/10.8 MB 1.4 MB/s eta 0:00:03
   --------------------------- ------------ 7.3/10.8 MB 1.4 MB/s eta 0:00:03
   --------------------------- ------------ 7.4/10.8 MB 1.4 MB/s eta 0:00:03
   --------------------------- ------------ 7.5/10.8 MB 1.4 MB/s eta 0:00:03
   --------------------------- ------------ 7.5/10.8 MB 1.4 MB/s eta 0:00:03
   --------------------------- ------------ 7.6/10.8 MB 1.4 MB/s eta 0:00:03
   ---------------------------- ----------- 7.6/10.8 MB 1.4 MB/s eta 0:00:03
   ---------------------------- ----------- 7.7/10.8 MB 1.4 MB/s eta 0:00:03
   ---------------------------- ----------- 7.8/10.8 MB 1.4 MB/s eta 0:00:03
   ---------------------------- ----------- 7.8/10.8 MB 1.4 MB/s eta 0:00:03
   ----------------------------- ---------- 7.9/10.8 MB 1.4 MB/s eta 0:00:03
   ----------------------------- ---------- 7.9/10.8 MB 1.4 MB/s eta 0:00:03
   ----------------------------- ---------- 8.0/10.8 MB 1.4 MB/s eta 0:00:03
   ----------------------------- ---------- 8.0/10.8 MB 1.4 MB/s eta 0:00:02
   ----------------------------- ---------- 8.0/10.8 MB 1.4 MB/s eta 0:00:02
   ----------------------------- ---------- 8.1/10.8 MB 1.4 MB/s eta 0:00:02
   ------------------------------ --------- 8.2/10.8 MB 1.4 MB/s eta 0:00:02
   ------------------------------ --------- 8.2/10.8 MB 1.4 MB/s eta 0:00:02
   ------------------------------ --------- 8.3/10.8 MB 1.4 MB/s eta 0:00:02
   ------------------------------ --------- 8.4/10.8 MB 1.4 MB/s eta 0:00:02
   ------------------------------ --------- 8.4/10.8 MB 1.4 MB/s eta 0:00:02
   ------------------------------- -------- 8.5/10.8 MB 1.4 MB/s eta 0:00:02
   ------------------------------- -------- 8.5/10.8 MB 1.4 MB/s eta 0:00:02
   ------------------------------- -------- 8.6/10.8 MB 1.4 MB/s eta 0:00:02
   ------------------------------- -------- 8.7/10.8 MB 1.4 MB/s eta 0:00:02
   -------------------------------- ------- 8.7/10.8 MB 1.4 MB/s eta 0:00:02
   -------------------------------- ------- 8.8/10.8 MB 1.4 MB/s eta 0:00:02
   -------------------------------- ------- 8.8/10.8 MB 1.4 MB/s eta 0:00:02
   -------------------------------- ------- 8.9/10.8 MB 1.4 MB/s eta 0:00:02
   --------------------------------- ------ 9.0/10.8 MB 1.4 MB/s eta 0:00:02
   --------------------------------- ------ 9.0/10.8 MB 1.4 MB/s eta 0:00:02
   --------------------------------- ------ 9.1/10.8 MB 1.4 MB/s eta 0:00:02
   --------------------------------- ------ 9.2/10.8 MB 1.4 MB/s eta 0:00:02
   ---------------------------------- ----- 9.2/10.8 MB 1.4 MB/s eta 0:00:02
   ---------------------------------- ----- 9.3/10.8 MB 1.4 MB/s eta 0:00:02
   ---------------------------------- ----- 9.4/10.8 MB 1.4 MB/s eta 0:00:01
   ---------------------------------- ----- 9.5/10.8 MB 1.4 MB/s eta 0:00:01
   ----------------------------------- ---- 9.6/10.8 MB 1.4 MB/s eta 0:00:01
   ----------------------------------- ---- 9.6/10.8 MB 1.4 MB/s eta 0:00:01
   ----------------------------------- ---- 9.7/10.8 MB 1.4 MB/s eta 0:00:01
   ------------------------------------ --- 9.8/10.8 MB 1.4 MB/s eta 0:00:01
   ------------------------------------ --- 9.8/10.8 MB 1.4 MB/s eta 0:00:01
   ------------------------------------ --- 9.9/10.8 MB 1.4 MB/s eta 0:00:01
   ------------------------------------ --- 10.0/10.8 MB 1.4 MB/s eta 0:00:01
   ------------------------------------- -- 10.0/10.8 MB 1.4 MB/s eta 0:00:01
   ------------------------------------- -- 10.1/10.8 MB 1.4 MB/s eta 0:00:01
   ------------------------------------- -- 10.2/10.8 MB 1.4 MB/s eta 0:00:01
   ------------------------------------- -- 10.3/10.8 MB 1.5 MB/s eta 0:00:01
   -------------------------------------- - 10.3/10.8 MB 1.5 MB/s eta 0:00:01
   -------------------------------------- - 10.4/10.8 MB 1.5 MB/s eta 0:00:01
   -------------------------------------- - 10.4/10.8 MB 1.5 MB/s eta 0:00:01
   -------------------------------------- - 10.5/10.8 MB 1.5 MB/s eta 0:00:01
   -------------------------------------- - 10.6/10.8 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.8 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------  10.7/10.8 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------  10.7/10.8 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------  10.8/10.8 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------  10.8/10.8 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------- 10.8/10.8 MB 1.5 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.1.0 protobuf-4.21.12
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np
import mysql.connector

In [4]:
cnx = mysql.connector.connect(user='root',password='9175033081',host='localhost',database='abhidb')
cnx

In [5]:
cursor = cnx.cursor()
cursor

In [7]:
cursor.execute('show databases')

In [8]:
res=cursor.fetchall()

In [9]:
for i in res:
    print(i)

('abhidb',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

### 1. Setting up things

In [ ]:
CREATE TABLE users (
  user_id INTEGER PRIMARY KEY,
  first_name TEXT NOT NULL,
  last_name TEXT NOT NULL,
  email varchar(255) NOT NULL,
  phone TEXT NOT NULL,
  city TEXT,
  registration_date DATETIME NOT NULL,
  unique(email(255)));


INSERT INTO users (user_id, first_name, last_name, email, phone, city, registration_date) VALUES
(1,'John', 'Doe', 'johndoe@example.com', '555-1234', 'New York', '2023-01-02'),
(2,'Jane', 'Doe', 'janedoe@example.com', '555-5678', 'Los Angeles', '2023-01-03'),
(3,'Bob', 'Smith', 'bobsmith@example.com', '555-9012', 'Chicago', '2023-01-04'),
(4,'Samantha', 'Johnson', 'sjohnson@example.com', '555-3456', 'San Francisco', '2023-01-05'),
(5,'David', 'Brown', 'dbrown@example.com', '555-7890', 'Seattle', '2023-01-06'),
(6,'Emily', 'Davis', 'edavis@example.com', '555-2345', 'Boston', '2023-01-07'),
(7,'Michael', 'Wilson', 'mwilson@example.com', '555-6789', 'Houston', '2023-01-08'),
(8,'Sarah', 'Garcia', 'sgarcia@example.com', '555-0123', 'Miami', '2023-01-09'),
(9,'Daniel', 'Martinez', 'dmartinez@example.com', '555-4567', 'Atlanta', '2023-01-10'),
(10,'Jessica', 'Lee', 'jlee@example.com', '555-8901', 'Dallas', '2023-01-11'),
(11,'Matthew', 'Anderson', 'manderson@example.com', '555-8902', 'Detroit', '2023-01-12'),
(12,'Ashley', 'Thomas', 'athomas@example.com', '555-8903', 'Phoenix', '2023-01-13'),
(13,'Christopher', 'Taylor', 'ctaylor@example.com', '555-8904', 'San Diego', '2023-01-14'),
(14,'Jennifer', 'Moore', 'jmoore@example.com', '555-8905', 'Denver', '2023-01-15'),
(15,'Joshua', 'Jackson', 'jjackson@example.com', '555-8906', 'Portland', '2023-01-16'),
(16,'Amanda', 'White', 'awhite@example.com', '555-8907', 'Indianapolis', '2023-01-17'),
(17,'Andrew', 'Harris', 'aharris@example.com', '555-8908', 'Las Vegas', '2023-01-18'),
(18,'Brittany', 'Martin', 'bmartin@example.com', '555-8909', 'Austin', '2023-01-19'),
(19,'Brandon', 'Thompson', 'bthompson@example.com', '555-8910', 'Jacksonville', '2023-01-20'),
(20,'Megan', 'Garcia', 'mgarcia@example.com', '555-8911', 'San Jose', '2023-01-21'),
(21,'Justin', 'Martinez', 'jmartinez@example.com', '555-8912', 'Charlotte', '2023-01-22'),
(22,'Melissa', 'Robinson', 'mrobinson@example.com', '555-8913', 'Fort Worth', '2023-01-23'),
(23,'Kevin', 'Clark', 'kclark@example.com', '555-8914', 'Washington', '2023-01-24'),
(24,'Rebecca', 'Rodriguez', 'rrodriguez@example.com', '555-8915', 'Baltimore', '2023-01-25'),
(25,'Jacob', 'Lewis', 'jlewis@example.com', '555-8916', 'Milwaukee', '2023-01-26'),
(26,'Michelle', 'Walker', 'mwalker@example.com', '555-8917', 'Albuquerque', '2023-01-27'),
(27,'Ryan', 'Hall', 'rhall@example.com', '555-8918', 'Tucson', '2023-01-28'),
(28,'Stephanie', 'Allen', 'sallen@example.com', '555-8919', 'Fresno', '2023-01-29'),
(29,'Brian', 'Young', 'byoung@example.com', '555-8920', 'Sacramento', '2023-01-30'),
(30,'Heather', 'King', 'hking@example.com', '555-8921', 'Kansas City', '2023-01-31');

### 2. Basic SQL Queries (SELECT, WHERE, FROM)

In [ ]:
SELECT "Hello world!";

In [ ]:
SELECT *
FROM USERS
WHERE CITY='New York';

### 3. Comments

In [ ]:
-- This is a single line comment
-- This is line two of single line comment

SELECT *
FROM USERS
WHERE CITY='New York';

/*
This is a multi
line comment.
Good day!
*/

### 4. Getting users from a CITY on a perticular date

In [ ]:
SELECT *
FROM USERS
WHERE CITY='New York'
  AND REGISTRATION_DATE = '2023-01-02';


-- SELECT *
-- FROM USERS;

SELECT DATE('2019-04-26 18:40:34');

SELECT DATE(REGISTRATION_DATE)
FROM USERS;

### 5. Giving output column pretty names

In [ ]:
SELECT COUNT(USER_ID) AS "COUNT OF USERS"
FROM USERS
WHERE CITY='New York'
  AND REGISTRATION_DATE = '2023-01-02';

SELECT COUNT(*) AS "TOTAL USERS", COUNT(PHONE) AS "USERS WITH PHONE"
FROM USERS;

### 6. Opeartors

In [ ]:
/*

COMPARISION OPERATORS
=, != (or <>), >, <, >=, <=

ARITHMETIC OPERATORS
+, -, *, /, %

LOGICAL OPERATORS
AND, OR, and NOT

*/

SELECT COUNT(USER_ID) AS "COUNT OF USERS"
FROM USERS
WHERE CITY='New York'
  AND REGISTRATION_DATE = '2023-01-02';

#### Comparision Opeartor

In [ ]:
/*

COMPARISION OPERATORS
=, != (or <>), >, <, >=, <=

*/

SELECT *
FROM USERS
WHERE REGISTRATION_DATE >= '2023-01-01';

SELECT *
FROM USERS
WHERE FIRST_NAME <> 'John';

#### Excluding a perticular City

In [ ]:
SELECT *
FROM USERS
WHERE CITY != 'New York';

SELECT *
FROM USERS
WHERE CITY <> 'New York';

#### Getting users from city with name

In [ ]:
/*

LOGICAL OPERATORS
AND, OR, and NOT

*/
SELECT *
FROM USERS
WHERE CITY = 'Los Angeles'
  AND LAST_NAME = 'Smith';

#### Getting users who live in any of the cities

In [ ]:
/*

LOGICAL OPERATORS
AND, OR, and NOT

*/

SELECT *
FROM USERS
WHERE CITY = 'San Francisco'
  OR CITY = 'San Diego';

#### Exluding a perticular city (Another way)

In [ ]:
/*

LOGICAL OPERATORS
AND, OR, and NOT

*/

-- SELECT *
-- FROM USERS
-- WHERE CITY != 'New York';

SELECT *
FROM USERS
WHERE NOT CITY = 'New York';

#### Segmenting the user

In [ ]:
SELECT FIRST_NAME || ' ' || LAST_NAME AS FULL_NAME, EMAIL
FROM USERS
WHERE CITY = 'New York';

-- SELECT "HELLO" || ' ' || "WORLD" AS OUTPUT;

#### Challaenges Let's get some hands on practice

In [ ]:
-- Find all rides where the fare amount was greater than $20 
SELECT *
FROM RIDES
WHERE FARE_AMOUNT > 20;

-- Find all users who registered before a specific date: 2022-01-01
SELECT *
FROM USERS
WHERE REGISTRATION_DATE < '2022-01-01';

-- Calculate the total fare amount for all rides
SELECT FARE_AMOUNT + TIP_AMOUNT AS TOTAL_FARE
FROM RIDES;

-- Calculate the average fare amount per mile for all rides
SELECT FARE_AMOUNT / DISTANCE AS FARE_PER_MILE
FROM RIDES;

-- Calculate the remainder of dividing the fare amount by 5 for all rides
SELECT FARE_AMOUNT % 5 AS FARE_REMAINDER
FROM RIDES;

-- Find all rides where the pickup location was either Central Park or Times Square
SELECT *
FROM RIDES
WHERE PICKUP_LOCATION = 'Central Park'
OR PICKUP_LOCATION = 'Times Square';

-- Find all users who registered before a specific date (2022-01-01) and are from New York
SELECT *
FROM USERS
WHERE REGISTRATION_DATE < '2022-01-01' AND CITY = 'New York';

In [ ]:
CREATE TABLE vehicles (
  vehicle_id INTEGER PRIMARY KEY,
  make TEXT NOT NULL,
  model TEXT NOT NULL,
  year INTEGER NOT NULL,
  license_plate varchar(100) NOT NULL UNIQUE
);

CREATE TABLE drivers (
  driver_id INTEGER PRIMARY KEY,
  first_name TEXT NOT NULL,
  last_name TEXT NOT NULL,
  email varchar(255) NOT NULL UNIQUE,
  phone varchar(12) NOT NULL UNIQUE,
  city TEXT NOT NULL,
  vehicle_id INTEGER NOT NULL,
  FOREIGN KEY (vehicle_id) REFERENCES vehicles (vehicle_id)
);

CREATE TABLE rides (
  ride_id INTEGER PRIMARY KEY,
  pickup_time DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
  dropoff_time DATETIME NOT NULL,
  pickup_location TEXT NOT NULL,
  dropoff_location TEXT NOT NULL,
  fare_amount REAL NOT NULL,
  tip_amount REAL NOT NULL,
  distance REAL NOT NULL,
  user_id INTEGER NOT NULL,
  driver_id INTEGER NOT NULL,
  status TEXT NOT NULL,
  FOREIGN KEY (user_id) REFERENCES users (user_id),
  FOREIGN KEY (driver_id) REFERENCES drivers (driver_id)
);


-- Additional users from San Jose
INSERT INTO users (user_id, first_name, last_name, email, phone, city, registration_date) VALUES
(36, 'Anthony', 'Ortega', 'aortega@example.com', '505-3456', 'San Jose', '2023-01-12 08:30:00'),
(37, 'Christina', 'Henderson', 'chenderson@example.com', '505-7890', 'San Jose', '2023-01-13 10:00:00'),
(38, 'George', 'Murphy', 'gmurphy@example.com', '505-2345', 'San Jose', '2023-01-14 11:45:00'),
(39, 'Linda', 'Peterson', 'lpeterson@example.com', '505-6789', 'San Jose', '2023-01-15 16:00:00'),
(40, 'Thomas', 'Harris', 'tharris@example.com', '505-0123', 'San Jose', '2023-01-16 18:00:00');

-- Additional users from New York
INSERT INTO users (user_id, first_name, last_name, email, phone, city, registration_date) VALUES
(31, 'Jennifer', 'Thompson', 'jthompson@example.com', '515-4567', 'New York', '2023-01-17 10:30:00'),
(32, 'Robert', 'Turner', 'rturner@example.com', '515-8901', 'New York', '2023-01-18 11:00:00'),
(33, 'Maria', 'Sanchez', 'msanchez@example.com', '515-5678', 'New York', '2023-01-19 14:00:00'),
(34, 'John', 'Phillips', 'jphillips@example.com', '515-9012', 'New York', '2023-01-20 16:30:00'),
(35, 'Susan', 'Gonzalez', 'sgonzalez@example.com', '515-3456', 'New York', '2023-01-21 17:30:00');

-- Additional users from San Francisco
INSERT INTO users (user_id, first_name, last_name, email, phone, city, registration_date) VALUES
(41, 'David', 'Clark', 'dclark@example.com', '525-7890', 'San Francisco', '2023-01-22 09:00:00'),
(42, 'Nancy', 'Adams', 'nadams@example.com', '525-2345', 'San Francisco', '2023-01-23 10:45:00'),
(43, 'Joseph', 'Baker', 'jbaker@example.com', '525-6789', 'San Francisco', '2023-01-24 12:30:00'),
(44, 'Margaret', 'Taylor', 'mtaylor@example.com', '525-0123', 'San Francisco', '2023-01-25 14:15:00'),
(45, 'Charles', 'Anderson', 'canderson@example.com', '525-4567', 'San Francisco', '2023-01-26 15:00:00');



-- Vehicles table
INSERT INTO vehicles (vehicle_id, make, model, year, license_plate) VALUES
(1, 'Toyota', 'Camry', 2018, 'ABC123'),
(2, 'Honda', 'Civic', 2017, 'DEF456'),
(3, 'Ford', 'F-150', 2020, 'GHI789'),
(4, 'Chevrolet', 'Malibu', 2019, 'JKL012'),
(5, 'Nissan', 'Altima', 2018, 'MNO345');

-- Drivers table
INSERT INTO drivers (driver_id, first_name, last_name, email, phone, city, vehicle_id) VALUES
(1,'Mike', 'Brown', 'mbrown@example.com', '555-2345', 'New York', 1),
(2,'Rachel', 'Garcia', 'rgarcia@example.com', '555-6789', 'Los Angeles', 2),
(3,'David', 'Lee', 'dlee@example.com', '555-0123', 'Chicago', 3),
(4,'Linda', 'Martinez', 'lmartinez@example.com', '555-4567', 'San Francisco', 4),
(5,'Alex', 'Wilson', 'awilson@example.com', '555-8901', 'Seattle', 5);

-- Rides table
INSERT INTO rides (ride_id, pickup_time, dropoff_time, pickup_location, dropoff_location, fare_amount, tip_amount, distance, user_id, driver_id,status) VALUES
(1,'2023-04-06 10:00:00', '2023-04-06 10:15:00', 'Central Park', 'Empire State Building', 10.50, 2.00, 3.0, 1, 1,11),
(2,'2023-04-06 11:30:00', '2023-04-06 12:15:00', 'Universal Studios', 'Hollywood Walk of Fame', 25.75, 5.00, 8.0, 2, 2,22),
(3,'2023-04-06 14:00:00', '2023-04-06 14:45:00', 'Millennium Park', 'Willis Tower', 15.20, 3.00, 5.5, 3, 3,33),
(4,'2023-04-06 16:30:00', '2023-04-06 17:15:00', 'Golden Gate Bridge', "Fisherman's Wharf", 21.80, 4.00, 7.5, 4, 4,44),
(5,'2023-04-06 18:30:00', '2023-04-06 19:00:00', 'Space Needle', 'Pike Place Market', 12.50, 2.50, 3.0, 5, 5,55);

-- Subsequent Insert Statements with Tip Amount
INSERT INTO rides (ride_id, pickup_time, dropoff_time, pickup_location, dropoff_location, fare_amount, tip_amount, distance, user_id, driver_id, status)
VALUES (6,'2023-04-15 10:00:00', '2023-04-15 10:30:00', 'Central Park', 'Times Square', 10.0, 2.00, 5.0, 1, 1, 'completed');

INSERT INTO rides (ride_id,pickup_time, dropoff_time, pickup_location, dropoff_location, fare_amount, tip_amount, distance, user_id, driver_id, status)
VALUES (7,'2023-04-15 11:00:00', '2023-04-15 11:30:00', 'Empire State Building', 'Grand Central Station', 15.0, 3.00, 7.5, 2, 2, 'completed');

INSERT INTO rides (ride_id,pickup_time, dropoff_time, pickup_location, dropoff_location, fare_amount, tip_amount, distance, user_id, driver_id, status)
VALUES (8,'2023-04-16 10:00:00', '2023-04-16 10:30:00', 'Central Park', 'Times Square', 12.0, 2.40, 6.0, 3, 1, 'completed');

INSERT INTO rides (ride_id,pickup_time, dropoff_time, pickup_location, dropoff_location, fare_amount, tip_amount, distance, user_id, driver_id, status)
VALUES (9,'2023-04-16 11:00:00', '2023-04-16 11:30:00', 'Empire State Building', 'Grand Central Station', 20.0, 4.00, 10.0, 4, 2, 'completed');

INSERT INTO rides (pickup_time, dropoff_time, pickup_location, dropoff_location, fare_amount, tip_amount, distance, user_id, driver_id, status)
VALUES ('2023-04-17 10:00:00', '2023-04-17 10:30:00', 'Central Park', 'Times Square', 18.0, 3.60, 9.0, 5, 1, 'completed');

INSERT INTO rides (pickup_time, dropoff_time, pickup_location, dropoff_location, fare_amount, tip_amount, distance, user_id, driver_id, status)
VALUES ('2023-04-17 11:00:00', '2023-04-17 11:30:00', 'Empire State Building', 'Grand Central Station', 25.0, 5.00, 12.5, 6, 2, 'completed');

INSERT INTO rides (pickup_time, dropoff_time, pickup_location, dropoff_location, fare_amount, tip_amount, distance, user_id, driver_id, status)
VALUES ('2023-04-18 10:00:00', '2023-04-18 10:30:00', 'Central Park', 'Times Square', 22.0, 4.40, 11.0, 7, 1, 'completed');