In [1]:
import pandas as pd
import numpy as np
import mysql.connector

In [2]:
# pip install mysql-connector-python

###### Establish a connection to the MySQL server

In [3]:
cnx = mysql.connector.connect(user='root',password='9175535381',host='localhost',database='digvijaydb')
cnx

###### Create a cursor object

In [4]:
cursor = cnx.cursor()
cursor

###### Writing query for MySQL

In [5]:
cursor.execute('select * from emp_data')

In [6]:
res=cursor.fetchall()

###### Process and disply query result

In [7]:
for row in res:
    print(row)

(677509, 'Lois', 'Walker', 'F', 'lois.walker@hotmail.com', 168251, 'DALLAS', 677509, 10)
(940761, 'Brenda', 'Robinson', 'F', 'brenda.robinson@gmail.com', 51063, 'CHICAGO', 940761, 10)
(428945, 'Joe', 'Robinson', 'M', 'joe.robinson@gmail.com', 50155, 'CHICAGO', 428945, 10)
(408351, 'Diane', 'Evans', 'F', 'diane.evans@yahoo.com', 180294, 'NEW YORK', 408351, 20)
(193819, 'Benjamin', 'Russell', 'M', 'benjamin.russell@charter.net', 117642, 'DALLAS', 193819, 20)
(499687, 'Patrick', 'Bailey', 'M', 'patrick.bailey@aol.com', 72305, 'CHICAGO', 499687, 20)
(539712, 'Nancy', 'Baker', 'F', 'nancy.baker@bp.com', 98189, 'DALLAS', 539712, 30)
(380086, 'Carol', 'Murphy', 'F', 'carol.murphy@gmail.com', 60918, 'NEW YORK', 380086, 30)
(477616, 'Frances', 'Young', 'F', 'frances.young@gmail.com', 121587, 'CHICAGO', 477616, 30)

In [8]:
cursor.execute('select * from dept')

In [9]:
res1=cursor.fetchall()

In [10]:
for row in res1:
    print(row)

(677509, 'Lois', 10, 'Finance', 'CHICAGO', 'no')
(940761, 'Brenda', 10, 'Finance', 'CHICAGO', 'no')
(428945, 'Joe', 10, 'Finance', 'NEW YORK', 'no')
(408351, 'Diane', 20, 'Tech', 'DALLAS', 'no')
(193819, 'Benjamin', 20, 'Tech', 'CHICAGO', 'no')
(499687, 'Patrick', 20, 'Tech', 'DALLAS', 'yes')
(539712, 'Nancy', 30, 'HR', 'NEW YORK', 'no')
(380086, 'Carol', 30, 'HR', 'CHICAGO', 'no')
(477616, 'Frances', 30, 'HR', 'NEW YORK', 'no')
(162402, 'Diana', 30, 'HR', 'DALLAS', 'no')
(231469, 'Ralph', 30, 'HR', 'DALLAS', 'yes')
(153989, 'Jack', 10, 'Finance', 'CHICAGO', 'yes')
(386158, 'Melissa', 20, 'Tech', 'CHICAGO', 'yes')
(301576, 'Wayne', 20, 'Tech', 'DALLAS', 'yes')
(441771, 'Cheryl', 20, 'Tech', 'CHICAGO', 'yes')
(528509, 'Paula', 20, 'Tech', 'CHICAGO', 'no')
(912990, 'Joshua', 10, 'Finance', 'NEW YORK', 'no')
(214352, 'Theresa', 30, 'HR', 'DALLAS', 'no')
(890290, 'Julia', 10, 'Finance', 'CHICAGO', 'no')
(622406, 'Thomas', 20, 'Tech', 'DALLAS', 'no')
(979607, 'Carol', 20, 'Tech', 'DALLAS', 'yes')
(969580, 'Matthew', 20, 'Tech', 'CHICAGO', 'no')
(426038, 'Joan', 20, 'Tech', 'CHICAGO', 'yes')
(388642, 'Ruby', 10, 'Finance', 'NEW YORK', 'yes')
(560455, 'Carolyn', 30, 'HR', 'DALLAS', 'no')
(477253, 'Anne', 30, 'HR', 'CHICAGO', 'no')
(263480, 'Daniel', 30, 'HR', 'DALLAS', 'no')
(683826, 'Roger', 10, 'Finance', 'DALLAS', 'no')
(474599, 'Maria', 10, 'Finance', 'DALLAS', 'no')
(335732, 'Brenda', 20, 'Tech', 'CHICAGO', 'no')
(329752, 'Lillian', 20, 'Tech', 'CHICAGO', 'yes')
(893212, 'Amy', 30, 'HR', 'DALLAS', 'yes')
(621833, 'Gregory', 30, 'HR', 'CHICAGO', 'yes')
(456747, 'Roy', 20, 'Tech', 'NEW YORK', 'no')
(100, 'Ajay', 10, 'Finance', 'Pune', 'yes')
(101, 'Sumit', 20, 'Tech', 'Mumbai', 'yes')
(102, 'Rekha', 30, 'HR', 'Hyderabad', 'no')

###### Close the cursor and the database connection when you're done:

In [11]:
cursor.close()
cnx.close()